.carrito img {
    height: 50px;
    cursor: pointer;
}

.carrito span {
    color: white;
    font-size: 25px;
    padding: 15px;
    top: 30px;
    right: 17px;
    position: absolute;
    margin-right: 20px;
}