
.item-card {
    width: 300px;
    margin: 30px;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    background-color: white;
}

.item-card:hover {
    box-shadow: 4px 7px 37px -2px rgba(190, 190, 199, 0.623);
}

.link {
    text-decoration: none;
}

.item-card img {
    height: 250px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.item-nombre {
    color:rgb(1, 2, 22);
    background-color: white;
    font-size: 25px;
    margin-top: 15px;
}

.item-precio {
    padding: 10px;
    color:rgb(1, 2, 22);
    background-color: white;
    font-size: 26px;
    margin-top: 15px;
}

